{% load staticfiles %}
{% load i18n %}
<html>
<head>
{% block head %}
<!-- place css links here -->
<!-- <link rel="stylesheet" href="{% static 'css/django-tutorial.css' %}"> -->
  <title>Django tutorial</title>
{% endblock %}
</head>
  <body>
    {% block breadcrumps%}
      <!-- fill in later -->
    {% endblock %}
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>