{% extends "django_tutorial/base.html" %}
{% load i18n %}

{% block content %}
    <h1>Welcome to Django tutorial</h1>
    Note: everything inside the content block you see in the browser.<br>
    <br>
    ome example pages:<br>
    <ul>
        <li><a href="{% url 'second' %}">Second page</a><br></li>
        <li><a href="{% url 'another' %}">Another page with extra content and environment</a><br></li>
    </ul>
    <br>
{% endblock %}
Everything outside the content block you won't see in the browser.