{% extends "django_tutorial/base.html" %}
{% load i18n %}

{% block content %}
    <h1>Example page with extra context</h1>
    <a href="{% url 'index' %}">Back to home</a><br>
    <br>
    Example context: {{ extra_something }} <br>
    <br>
    <h2>Or environment dependant things</h2>
    Current environment = {{ django_config }}<br>
    <br>
    {% if django_config == 'Production' %}
        This will only be shown in Production.<br>
    {% elif  django_config == 'Development' %}
        This will only be shown in Development.<br>
    {% else %}
        This will only be shown in Unknown environments (should never happen!).<br>
    {% endif %}
{% endblock %}
