{% extends "django_tutorial/base.html" %}
{% load i18n %}

{% block content %}
    <h1>A second example page to demonstrate links using naemd urls</h1>

    <a href="{% url 'index' %}">Back to home</a><br>
    <br>
    <br>
{% endblock %}

